[submodule "librtlsdr"]
	path = librtlsdr
	url = https://github.com/steve-m/librtlsdr.git
[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/gnuradio/gnuradio.git
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/csete/gqrx.git
