[submodule "librtlsdr"]
	path = librtlsdr
	url = https://github.com/steve-m/librtlsdr.git
[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/gnuradio/gnuradio.git
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/csete/gqrx.git
[submodule "gr-iqbal"]
	path = gr-iqbal
	url = https://github.com/osmocom/gr-iqbal.git
[submodule "gr-osmosdr"]
	path = gr-osmosdr
	url = git://git.osmocom.org/gr-osmosdr
[submodule "LimeSuite"]
	path = LimeSuite
	url = https://github.com/myriadrf/LimeSuite.git
[submodule "osmo-sdr"]
	path = osmo-sdr
	url = https://github.com/manuts/osmo-sdr.git
